body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #0f172a, #1e293b);
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card {
  background: #1e293b;
  padding: 30px;
  border-radius: 15px;
  width: 450px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.5);
  color: white;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

.inputBox {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
  flex-wrap: wrap;
  justify-content: center;
}

.inputBox input,
.inputBox select {
  padding: 10px;
  border-radius: 8px;
  border: none;
}

.inputBox input[type="text"] {
  flex: 1;
  min-width: 120px;
}

.inputBox input[type="date"] {
  width: 140px;
}

.inputBox select {
  width: 100px;
}

.inputBox button {
  background: #ff6b6b;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.inputBox button:hover {
  background: #ff4b4b;
}

.search {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  margin-bottom: 10px;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #334155;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
}

.task span {
  flex: 1;
  text-align: center;
}

.task button {
  background: red;
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 6px;
  cursor: pointer;
}